<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Bulma for Spotify</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
</head>

<body>
  <section class="section">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h1 class="title">{{ track }}</h1>
          <p class="subtitle">{{ artist }}</p>
          <div class="is-flex is-justify-content-center">
            <figure class="image is-128x128">
              <img src="{{ image1 }}" />
            </figure>
          </div>
          <form action="http://localhost:5000/" method="POST" enctype="multipart/form-data">
            <div class="file has-name">
              <label class="file-label">
                <input class="file-input" type="file" name="file" />
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label"> Choose a file… </span>
                </span>
                <span class="file-name">
                  song1.mp3
                </span>
              </label>
            </div>
            <div>
            <button class="button is-large">
              <span class="icon is-medium">
                <i class="fa fa-search fa-2x"></i>
              </span>
              <span>Search</span>
            </button>
          </div>
        </div>
        <!-- <input type="submit" /> -->
        </form>
      </div>
      <div class="column">
        <div class="box">
          <h1 class="title">{{ track2 }}</h1>
          <p class="subtitle">{{ artist2 }}</p>
          <div class="is-flex is-justify-content-center">
            <figure class="image is-128x128">
              <img src="{{ image2 }}" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>